<style>
.button-calm{
  background-color: #95c7df !important;
  margin-top: 20px;
  color:rgba(0,0,0,0.7) !important;
}
</style>
<ion-view view-title="" id="estrellas">
  <ion-content style="background: url(img/Fondo2.jpg) no-repeat center;background-size:cover;"  class="has-header">
    <div style="padding:10px;">
      <center>
          <div ng-if="data.score ==1 || data.score == 2">
            <img src="img/EstrellaDorada.png">
          </div>
          <div ng-if="data.score ==3 || data.score ==4 || data.score == 5">
            <img src="img/EstrellaDorada.png">
            <img src="img/EstrellaDorada.png">
          </div>
          <div ng-if="data.score ==6 || data.score == 7">
            <img src="img/EstrellaDorada.png">
            <img src="img/EstrellaDorada.png">
            <img src="img/EstrellaDorada.png">
          </div>
      </center>
      <div ng-if="data.score ==1 || data.score == 2">
        <img src="img/Mejorar.png">
      </div>
      <div ng-if="data.score ==3 || data.score ==4 || data.score == 5">
        <img src="img/Bien.png">
      </div>
      <div ng-if="data.score ==6 || data.score == 7">
        <img src="img/Felicidades.png">
      </div>
    <center><h3 style="color: rgba(0,0,0,0.7)">Obtuviste {{data.score}} respuestas correctas!</h3></center>
    <center><a class="button button-calm animated tada" style="border-radius:30px 30px 30px 30px;" ng-click="jugarDeNuevo()">Jugar de nuevo</a></center>

    </div>
  </ion-content>
</ion-view>
