<style>
.popup {
  border-radius: 0px 0px 0px 0px !important;
}
.popup button {
  border-radius: 0px 0px 0px 0px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000 !important;
}
</style>
<ion-view title="" id="login">
  <ion-content padding="false" scroll="false" style="background: url(img/Fondo1.jpg) no-repeat center;background-size:cover;">
    <center><img src="img/Logo.png" style="width:60%;"></center>
        <div style="padding-left:10px;padding-right:10px;">
        <form id="page-form1" class="list" style="background-color:transparent;margin-top:25px;" name="myForm">
        <label class="item item-input item-floating-label" style="border-radius:0px 0px 0px 0px; background-color: rgba(0,0,0,0.3);border-color:transparent;margin-bottom:15px;" id="page-input1" name="correo" ng-model="data.username">
            <input style="color:#000000;font-weight:300;opacity:1;" type="email" placeholder="Correo Electrónico" ng-model="data.username">
          </label>
          <label class="item item-input item-floating-label" style="border-radius:0px 0px 0px 0px;background-color: rgba(0,0,0,0.3);border-color:transparent;" id="page-input2" name="pass" >
            <input style="color:#000000;font-weight:300;opacity:1;" type="password" placeholder="Contraseña" ng-model="data.password">
          </label>
        </form>
        <button id="page-button1" class="button button-block" style="color:#000000;background-color: #95c7df;border-radius:0px 0px 0px 0px;border-color:transparent;" ng-click="loginEmail()">Iniciar Sesión</button>
        <button id="page-button3" class="button button-light  button-block button-clear" style="color:#000000;" ng-click="resetPass()">¿Olvidaste tu contraseña?</button>

        <div class="row">
          <div class="col col-50">
            <button id="page-button2" class="button button-light button-outline" style="background-color: rgba(0,0,0,0.3);border-radius:0px 0px 0px 0px;border-color:transparent;" ng-click="irRegistro()">Regístrate</button>
          </div>
          <div class="col col-50 ">
            <button id="page-button4" style="" class="button button-positive icon-left ion-social-facebook" ng-click=""> Iniciar Sesión</button>
          </div>
        </div>


        </div>




  </ion-content>
</ion-view>
