
<ion-view view-title="" id="estrellas">
  <ion-content style="background: url(img/Fondo2.jpg) no-repeat center;background-size:cover;"  class="has-header">
  	<div style="padding-left: 10px;padding-right: 10px;">
  	<center><h1>¿Quiénes Somos?</h1></center>
  	<h4>Somos App interactiva que tiene como objetivo reforzar el conocimiento de estudiantes de medicina y todo el profesional de salud.</h4>
  	<h4>Creadores:</h4>

	<h4>Keyla Barajas Martínez </h4>
	<h4>Micaela Sofía Bustos </h4>
	<h4>Elizabeth González Hernández </h4>
	<h4>Edith Rangel Molina</h4>

	<h4>Médicos Colaboradores: </h4>

	<h4>Dr. Fernando Padilla López</h4>
	</div>
  </ion-content>
</ion-view>
